<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2" />
    <title>Webpaint</title>
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png?" sizes="16x16">


    <!--Bootstrap Files-->
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all">
    <link href="/css/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all">

    <!--Customize Files-->
    <link rel="stylesheet" href="/css/rest.css" type="text/css" media="all"> <!--Customize CSS file place in last-->
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="/fonts/et-line-font/et-line-font/style.css" type="text/css" media="all">

    <!--For Toggle Menu-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script>
        $(document).ready(function(){
           $("#toggle-img").click(function(){
                $(".menu").slideToggle();
           });
        });
   </script>


</head>
<body>



<header>

    <div id="logo">
        <a href="#"><img src="images/logo.png" alt="picture not found"></a>
    </div>
                             <!--For Responsive Button Open-->

    <div class="toggle">
        <!--<button type="button">Click Me!</button>-->
        <img src="images/toggle%20button.png" alt="Pic not found" id="toggle-img">
    </div>

    <ul class="menu">
        <li><span  class="glyphicon glyphicon-home icon-colour"></span><a href="#">Home</a></li>
        <li><span  class="glyphicon glyphicon-briefcase icon-colour"></span><a href="#">Portfolio</a></li>
        <li><span class="glyphicon glyphicon-user icon-colour"></span><a href="#">About</a></li>
        <li><span class="glyphicon glyphicon-edit icon-colour"></span><a href="#">Blog</a></li>
        <li><span class="glyphicon glyphicon-phone-alt icon-colour"></span><a href="#">Contact</a></li>
    </ul>

                             <!--For Responsive Button Close-->

    <nav id="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>

        </ul>

    </nav>

</header>

<div id="top-section" class="container">

        <p id="webpaint-para">We are <span id="webpaint">Webpaint</span></p><br>
        <p id="webpaint-line">digital & branding agency based in Jupiter and we could love<br>to turn ideas into beautiful things.</p>
        <div id="see-portfolio-button">
            <input type="button" value="SEE PORTFOLIO" id="see-portfolio">
        </div>

</div>



<div id="content" class="container">

    <div id="midlist-content">

        <ul class="col-md-3 col-sm-6">
            <li>
                <img src="images/consectetur.png" alt="Picture Not Found">
                <span class="list-heading">Consectetur</span>
                <p class="list-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </li>
        </ul>

        <ul class="col-md-3 col-sm-6">
            <li>
                <img src="images/tristequet.png" alt="Picture Not Found">
                <span class="list-heading">Tristequet</span>
                <p class="list-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </li>

        </ul>

        <ul class="col-md-3 col-sm-6">
            <li>
                <img src="images/fermentum.png" alt="Picture Not Found">
                <span class="list-heading">Fermentum</span>
                <p class="list-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
                </li>
        </ul>

        <ul class="col-md-3 col-sm-6">
            <li>
                <img src="images/Eliet%20ultricies.png" alt="Picture Not Found">
                <span class="list-heading">Eliet Ultricies</span>
                <p class="list-para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>

            </li>
        </ul>


    </div>


    <div id="featured-worked">
        <h3 id="featured-heading">Our Featured Works</h3>
        <p id="featured-para">Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum.</p>
    </div>

    <ul id="featured-list">
        <li><input type="button" value="All" class="featured-button"></li>
        <li><input type="button" value="GRAPHIC" class="featured-button"></li>
        <li><input type="button" value="ILLUSTRATION" class="featured-button"></li>
        <li><input type="button" value="MOTION" class="featured-button"></li>
    </ul>





    <table class="table-responsive" id="table-align" frame="void">
        <tr>
            <td><img src="images/1%20(1).png" alt="Picture Not Found" class="gallery"></td>
            <td><img src="images/1%20(2).png" alt="Picture Not Found" class="gallery1"></td>
            <td><img src="images/1%20(3).png" alt="Picture Not Found" class="gallery"></td>
            <td><img src="images/1%20(4).png" alt="Picture Not Found" class="gallery1"></td>


        </tr>

        <tr>
            <td><img src="images/1%20(5).png" alt="Picture Not Found" class="gallery"></td>
            <td><img src="images/1%20(6).png" alt="Picture Not Found" class="gallery1"></td>
            <td><img src="images/1%20(7).png" alt="Picture Not Found" class="gallery"></td>
            <td><img src="images/1%20(8).png" alt="Picture Not Found" class="gallery1"></td>


        </tr>

        <tr>
            <td><img src="images/1%20(9).png" alt="Picture Not Found" class="gallery"></td>
            <td><img src="images/1%20(10).png" alt="Picture Not Found" class="gallery1"></td>
            <td><img src="images/1%20(11).png" alt="Picture Not Found" class="gallery"></td>
            <td><img src="images/1%20(12).png" alt="Picture Not Found" class="gallery1"></td>

        </tr>

    </table>

</div>


    <div id="footer-area">
        <br><br>

        <div id="footer-content">
            <h3 id="get-in-touch">Get in Touch</h3>
            <p id="footer-para"> Vestibulum id ligula porta felis euismod semper,malesuada euismod.</p>
            <div id="contact-area">
                <div id="footer-address">
                    <span class="glyphicon glyphicon-map-marker contact"></span>
                        <span class="contact-text">Moonshine Street No: 14/05 Light City,Jupiter</span>
                </div>
                <div id="footer-phone-number">
                    <span class="glyphicon glyphicon-phone-alt contact"></span>
                        <span class="contact-text">0247 541 65 87</span>
                </div>
            </div>
            <ul id="social-icons">
                <li><span class="twitter  icon-twitter img-circle"></span></li>
                <li><span class="facebook icon-facebook img-circle"></span></li>
                <li><span class="gplus icon-googleplus img-circle"></span></li>
                <li><span class="lifesaver icon-lifesaver img-circle"></span></li>

            </ul>
        </div>

    </div>














<footer>
    
    ©2016 Zain Ansari. All Rights Reserved.
    
</footer>



</body>
</html>